{%extends 'mysite/base.html'%}
{%block content%}	
{%load static%}
<link href="{% static 'mysite/css/table.css'%}" rel="stylesheet">
<a href="{% url 'addevent' %}" >add event</a>
	<table >
		<th>decription</th><th>message</th><th>update</th><th>delete</th>
		{% for eventobj in eventobj  %}
		<tr>
			<td>{{eventobj.description}}</td><td>{{eventobj.message}}</td>
			<td><a href="{% url 'updateevnt' eventobj.id %}">update</a></td>
			<td><a href="{% url 'deleteevent' eventobj.id %}">delete</a></td>
		</tr>
		{%endfor%}
	</table>	
{%endblock content%}