{%extends 'mysite/base.html'%}
{%block content%}
<form method="POST"  action = "">
		{% csrf_token %}
	<p>Are you sure you want to delete this sale </p>
	<center><table border='2'>
		<tr>
			<th>buyer</th>
			<th>item</th>
			<th>phone</th>
			<th>email </th>
			<th>quantity</th>
			<th>delete</th>
		</tr>
		<tr>
			<td>{{obj.buyer}}</td>
			<td>{{obj.item}}</td>
			<td>{{obj.phone}}</td>
			<td>{{obj.email}}</td>
			<td>{{obj.quantity}}</td>
			<td><input type="submit" value="Confirm"></td>
		</tr>
	</table>
	</center>
</form>
{%endblock%}