{%extends 'mysite/base.html'%}
{%block content%}
<link rel="stylesheet" href="https://www.w3schools.com/w3css/4/w3.css">
	 <!--<a href="#" class="w3-button w3-green">Link Button</a>-->
<p>please update your contact details </p>
<center>
	<table width="300" border="2">
	<th>full name</th>update<th>update</th>
	<th>delete</th>
	{% for edit in edit  %}
		<tr>
			<td>{{edit}}</td>
			<td><a href="{{ edit.get_absolute_url}} " class="w3-button w3-grey">update</a></td>
			<td><a href="{% url 'deletecontact' edit.id  %}" class="w3-button w3-red">delete</a></td>
		</tr>
		{% endfor %}
	</table>
</center>	
{%endblock content%}