{%extends 'mysite/base.html'%}
{%block content%}
<link rel="stylesheet" href="https://www.w3schools.com/w3css/4/w3.css">
	 <!--<a href="#" class="w3-button w3-green">Link Button</a>-->
<a href="{%url 'orderus_view'%}" class="w3-button w3-green">add order</a>
<table>
	<th>Orderper</th>
	<th>dateorder</th>
	<th>expecteddatedelivery</th>
	<th>deliveryofficer</th>
	<th>invoiceNo</th>
	<th>receipt </th>
	<th>delete</th>
	{%for objorder in objorder%}
		<tr>
			<td>{{objorder.Orderper}}</td>
			<td>{{objorder.dateorder}}</td>
			<td>{{objorder.expecteddatedelivery}}</td>
			<td>{{objorder.deliveryofficer}}</td>
			<td>{{objorder.invoiceNo}}</td>
			<td>{{objorder.receipt}}</td>
			<td><a href="deleteorder/{{objorder.id}}/delete" class="w3-button w3-red" >delete</a></td>
		</tr>
	{%endfor%}
</table>
{%endblock%}